[gcode_macro move_to_dock]
# Dock position at X53 Y350 Z3.7
gcode:
  G90                 ; absolute coordinate system
  G0 X53 Y350 Z3.7    ; move to X53 Y350

[gcode_macro move_to_dockside]
# Location adjacent to dock Y-30
gcode:
  G90                 ; absolute coordinate system
  G0 X53 Y320 Z3.7    ; move to X53 Y350

[gcode_macro move_outof_dock]
# Location adjacent to dock for exit X+40 
gcode:
  G90                 ; absolute coordinate system
  G0 X93 Y350 Z3.7    ; move to X93 Y350 Z3.7

# Macro to Deploy Bed Probe
[gcode_macro M401]
gcode:
    G90
    {% if printer.probe.last_query %}
      G0 Z10 F24000        ;  set approach elevation of Z10
      move_to_dockside     ;  
      move_to_dock         ;  translate over probe pickup location
      move_outof_dock      ;  translate to side to exit dock   
      G0 Z20 F24000        ;  raise to elevation of Z20
      error_if_probe_not_deployed
    {% endif %}


# Macro to Stow Bed Leveling Probe
[gcode_macro M402]
gcode:
    G90
    {% if not printer.probe.last_query %}
     G0 Z20 F24000               ;  set approach elevation of Z20
     move_outof_dock             ;  move toolhead to dock exit position
     move_to_dock                ;  move probe into to dock 
     move_to_dockside            ;  swipe probe off 
     G0 Z20 F24000               ;  move up to elevation of Z20
     error_if_probe_deployed
    {% endif %}

[gcode_macro do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
      {action_raise_error("Euclid Probe is already deployed - Remove and Return it to the dock")}
    {% endif %}

[gcode_macro error_if_probe_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_deployed

[gcode_macro do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
      {action_raise_error("Euclid Probe Unsuccessfully Deployed!")}
    {% endif %}

[gcode_macro error_if_probe_not_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    do_error_if_probe_not_deployed